.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.error {
    border: 3px solid red;
}

.errorMessage {
    color: red
}

.activeFilter {
    background-color: lightgreen;
}

.isDone {
    opacity: 0.5;
    text-decoration: line-through;
}